{% extends "system/base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}"/>

<div class="settings-container">
    {% include "settings/partials/sidebar.html" %}

    <div class="settings-content">
        <div class="tab-content">
            {% include "settings/partials/play/options_list.html" %}
            {% include "settings/partials/play/calls_list.html" %}
            {% include "settings/partials/account_management.html" %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/settings/general.js') }}"></script>
{% endblock %}
