# Mac Files
.DS_Store

# Log files
*.log
0.log
logs/*

# config files
config.yaml
*.yaml
*.conf
*.env
env.*

# IDEA files
.idea
*.xml

# __pycache__
__pycache__/

# site-packages
site-packages/

# .pyc
*.pyc

# cpython
*cpython*