# Mac Files
.DS_Store
._*

# Log files
*.log
0.log
logs/*

# Config files
config.yaml
*.yaml
*.conf
*.env
env.*
secrets.*

# IDEA files
*.xml
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# __pycache__
__pycache__/

# site-packages
site-packages/

# .pyc
*.pyc

# cpython
*cpython*

venv/
.venv/
