<!-- Gaivy, Hamid -->
<!-- templates/game_detail.html -->
{% extends "base.html" %}
{% block title %}{{ game.game_name }}{% endblock %}
{% block content %}
<div class="row mb-4">
    <div class="col">
        <h2>{{ game.game_name }}</h2>
        <p>{{ game.date.strftime('%Y-%m-%d') }} {{ game.time }}</p>
    </div>
    <div class="col text-end">
        <a href="{{ url_for('drive_chart', game_id=game.id) }}" class="btn btn-primary">Show Drive Chart</a>
        <form action="{{ url_for('delete_game', game_id=game.id) }}" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this game?')">Delete Game</button>
        </form>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <form action="{{ url_for('add_drive', game_id=game.id) }}" method="POST">
            <a href="{{ url_for('game_options') }}" class="btn btn-secondary">Back to Games</a>
            <button type="submit" class="btn btn-primary">Add Drive</button>
             <a href="{{ url_for('export_game', game_id=game.id) }}" class="btn btn-info">Export Game as CSV</a>
             <a href="{{ url_for('game_callsheet', game_id=game.id) }}" class="btn btn-info">Game Callsheet</a>

        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Drives</h3>
        {% for drive in game.drives %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-start">
                    <h5 class="card-title">Drive {{ loop.index }}</h5>
                    <div>
                        <a href="{{ url_for('drive_detail', drive_id=drive.id) }}" class="btn btn-sm btn-primary">Show Drive</a>
                        <form action="{{ url_for('delete_drive', drive_id=drive.id) }}" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this drive?')">Delete Drive</button>
                        </form>
                    </div>
                </div>
                <p class="card-text">
                    Result: {{ drive.result or 'In Progress' }}<br>
                    Plays: {{ drive.plays|length }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}