    <div class="modal fade" id="addPlayCallModal" tabindex="-1" aria-labelledby="addPlayCallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form method="POST" action="{{ url_for('add_play_call') }}" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPlayCallModalLabel"><i class="fas fa-plus me-2"></i>Add Play Category
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="playCallNameInput" class="form-label">Play Category Name <small
                                class="text-danger">*</small></label>
                        <input type="text"
                               class="form-control"
                               id="playCallNameInput"
                               name="name"
                               maxlength="50"
                               placeholder="Enter play category name"
                               required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </form>
        </div>
    </div>
